.custom-checkbox .ant-checkbox-inner {
	border-radius: 0;
}

.notification-popver .ant-popover-content .ant-popover-inner,
.ant-popover-inner {
	padding: 20px !important;
	width: 400px;
	background-color: red;
}

.navbar-header {
	font-family: "Roboto";
}

.ant-upload.ant-upload-select,
.ant-upload-list-item,
.ant-upload-list {
	width: 200px !important;
	height: 200px !important;
}

.ant-picker-input input {
	font-size: 18px !important;
}

#password_help .ant-form-item-explain-error,  #email_help .ant-form-item-explain-error, #name_help .ant-form-item-explain-error{
  font-size: 14px; 
}

/*
.ant-picker-input input::placeholder {
  color: rgba(0, 0, 0, 0.47)  !important;  Standard for modern browsers 
}
*/

.ant-upload-picture-card-wrapper {
	width: 100%;
	height: 180px;
}


.draggable-upload-image .ant-upload-drag,  .draggable-upload-image{
    height:100%;
	width:100%
}

.invisible-upload-image {
	display:none !important
}

.select-without-arrow .ant-select-arrow  {
	display:none
}

.select-without-arrow .ant-select-selector {

}

.guest-nav-bar .ant-menu-item::after, .guest-nav-bar .ant-menu-submenu::after {
	border-bottom: 0px !important;
}

.card-with-elevation {
 box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.15) !important; 
}

.ant-modal-content {
	padding:20px 18px !important;
}