* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

body {
	font-family: "Arial", sans-serif;
	line-height: 1.6;
}


/*Typeface Declarations*/
@font-face {
	font-family: "Nunito";
	src: url("../assets/fonts/Nunito/woff2/Nunito-VariableFont.woff2")
		format("woff2");
	font-style: normal;
	font-display: swap;
	preload: true;
}

@font-face {
	font-family: "Nunito";
	src: url("../assets/fonts/Nunito/woff2/Nunito-Italic-VariableFont.woff2")
		format("woff2");
	font-style: italic;
	font-display: swap;
	preload: true;
}

@font-face {
	font-family: "Open Sans";
	src: url("../assets/fonts/Open_Sans/woff2/OpenSans-VariableFont.woff2")
		format("woff2");
	font-style: normal;
	font-display: swap;
	preload: true;
}

@font-face {
	font-family: "Open Sans";
	src: url("../assets/fonts/Open_Sans/woff2/OpenSans-Italic-VariableFont.woff2")
		format("woff2");
	font-style: italic;
	font-display: swap;
	preload: true;
}

@font-face {
	font-family: "Outfit";
	src: url("../assets/fonts/Outfit/woff2/Outfit-VariableFont.woff2")
		format("woff2");
	font-style: normal;
	font-display: swap;
	preload: true;
}

@font-face {
	font-family: "Roboto";
	src: url("../assets/fonts/Roboto/woff2/Roboto-VariableFont.woff2")
		format("woff2");
	font-style: normal;
	font-display: swap;
	preload: true;
}

@font-face {
	font-family: "Roboto";
	src: url("../assets/fonts/Roboto/woff2/Roboto-Italic-VariableFont.woff2")
		format("woff2");
	font-style: italic;
	font-display: swap;
	preload: true;
}

@font-face {
	font-family: "Noto Sans";
	src: url("../assets/fonts/Noto_Sans/woff2/NotoSans-Italic-VariableFont.woff2")
		format("woff2");
	font-style: italic;
	font-display: swap;
	preload: true;
}

@font-face {
	font-family: "Noto Sans";
	src: url("../assets/fonts/Noto_Sans/woff2/NotoSans-VariableFont.woff2")
		format("woff2");
	font-style: normal;
	font-display: swap;
	preload: true;
}

@font-face {
	font-family: "Noto Sans JP";
	src: url("../assets/fonts/Noto_Sans_JP/woff2/NotoSansJP-VariableFont.woff2")
		format("woff2");
	font-style: normal;
	font-display: swap;
	preload: true;
}

@font-face {
	font-family: "Noto Sans SC";
	src: url("../assets/fonts/Noto_Sans_SC/woff2/NotoSansSC-VariableFont.woff2")
		format("woff2");
	font-style: normal;
	font-display: swap;
	preload: true;
}

@font-face {
	font-family: "Poppins";
	src: url("../assets/fonts/Poppins/woff2/Poppins-Regular.woff2")
		format("woff2");
	font-style: normal;
	font-display: swap;
	preload: true;
}

@font-face {
	font-family: "Poppins";
	src: url("../assets/fonts/Poppins/woff2/Poppins-Italic.woff2")
		format("woff2");
	font-style: italic;
	font-display: swap;
	preload: true;
}

@font-face {
	font-family: "Poppins";
	src: url("../assets/fonts/Poppins/woff2/Poppins-Thin.woff2") format("woff2");
	font-weight: 100;
	font-display: swap;
	preload: true;
}

@font-face {
	font-family: "Poppins";
	src: url("../assets/fonts/Poppins/woff2/Poppins-ThinItalic.woff2")
		format("woff2");
	font-style: italic;
	font-weight: 100;
	font-display: swap;
	preload: true;
}

@font-face {
	font-family: "Poppins";
	src: url("../assets/fonts/Poppins/woff2/Poppins-Light.woff2")
		format("woff2");
	font-weight: 300;
	font-display: swap;
	preload: true;
}

@font-face {
	font-family: "Poppins";
	src: url("../assets/fonts/Poppins/woff2/Poppins-LightItalic.woff2")
		format("woff2");
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	preload: true;
}

@font-face {
	font-family: "Poppins";
	src: url("../assets/fonts/Poppins/woff2/Poppins-ExtraLight.woff2")
		format("woff2");
	font-weight: 200;
	font-display: swap;
	preload: true;
}

@font-face {
	font-family: "Poppins";
	src: url("../assets/fonts/Poppins/woff2/Poppins-ExtraLight.woff2")
		format("woff2");
	font-weight: 200;
	font-display: swap;
	preload: true;
}

@font-face {
	font-family: "Poppins";
	src: url("../assets/fonts/Poppins/woff2/Poppins-Medium.woff2")
		format("woff2");
	font-weight: 500;
	font-display: swap;
	preload: true;
}

@font-face {
	font-family: "Poppins";
	src: url("../assets/fonts/Poppins/woff2/Poppins-MediumItalic.woff2")
		format("woff2");
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	preload: true;
}

@font-face {
	font-family: "Poppins";
	src: url("../assets/fonts/Poppins/woff2/Poppins-SemiBold.woff2")
		format("woff2");
	font-weight: 600;
	font-display: swap;
	preload: true;
}

@font-face {
	font-family: "Poppins";
	src: url("../assets/fonts/Poppins/woff2/Poppins-SemiBoldItalic.woff2")
		format("woff2");
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	preload: true;
}

@font-face {
	font-family: "Poppins";
	src: url("../assets/fonts/Poppins/woff2/Poppins-Bold.woff2") format("woff2");
	font-weight: 700;
	font-display: swap;
	preload: true;
}

@font-face {
	font-family: "Poppins";
	src: url("../assets/fonts/Poppins/woff2/Poppins-BoldItalic.woff2")
		format("woff2");
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	preload: true;
}

@font-face {
	font-family: "Poppins";
	src: url("../assets/fonts/Poppins/woff2/Poppins-ExtraBold.woff2")
		format("woff2");
	font-weight: 800;
	font-display: swap;
	preload: true;
}

@font-face {
	font-family: "Poppins";
	src: url("../assets/fonts/Poppins/woff2/Poppins-ExtraBoldItalic.woff2")
		format("woff2");
	font-style: italic;
	font-weight: 800;
	font-display: swap;
	preload: true;
}

@font-face {
	font-family: "Poppins";
	src: url("../assets/fonts/Poppins/woff2/Poppins-Black.woff2")
		format("woff2");
	font-weight: 900;
	font-display: swap;
	preload: true;
}

@font-face {
	font-family: "Poppins";
	src: url("../assets/fonts/Poppins/woff2/Poppins-BlackItalic.woff2")
		format("woff2");
	font-style: italic;
	font-weight: 900;
	font-display: swap;
	preload: true;
}
